venv/
ENV/
env/
.venv/
api.http

db.sqlite3

.env
.env.*

**/migrations/*.py
**/migrations/*.pyc
!**/migrations/__init__.py 

__pycache__/
*.py[cod]
*$py.class

*.log
*.pot
*.pyc

todo/__pycache__/
*.sqlite3
todo/migrations/
*.sqlite3-journal

accounts/__pycache__/
accounts/migrations/
/staticfiles/
