<!--edit-task-modal file-->
<dialog id="edit-todo-modal" class="modal" open>
  <div class="modal-box">
    <h3 class="font-bold text-lg mb-4">Edit the Task</h3>

    <form 
        hx-post="{% url 'todos:edit-todo' todo.id %}"
        hx-target="#todo-{{ todo.id }}"
        hx-swap="outerHTML"
        
        hx-on:task-edited="document.getElementById('edit-todo-modal').close(); this.reset();"
        class="mb-4"
    >
      {% csrf_token %}

      <!-- Title Field -->
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Title</span>
        </label>
        {{ form.title }}
        {% if form.title.errors %}
          <label class="label text-error">{{ form.title.errors }}</label>
        {% endif %}
      </div>

      <!-- Description Field -->
      <div class="form-control w-full">
        <label class="label">
          <span class="label-text">Description</span>
        </label>
        {{ form.description }}
        {% if form.description.errors %}
          <label class="label text-error">{{ form.description.errors }}</label>
        {% endif %}
      </div>

      <!-- Actions -->
      <div class="modal-action">
        <button type="button" class="btn" onclick="document.getElementById('edit-todo-modal').close()">Cancel</button>
        <button type="submit" class="btn btn-primary">Save Task</button>
      </div>

    </form>
  </div>
</dialog>

