<div class="overflow-x-auto mt-7 px-4 ">
  <div class="rounded-2xl shadow-xl border border-base-300">
    <table class="table table-zebra w-full">
      <!-- Head -->
      <thead class="bg-base-200 text-base-content">
        <tr>
          <th class="text-lg">Title</th>
          <th class="text-lg">Description</th>
          <th class="text-lg text-center">Completed</th>
          <th class="text-lg text-center">Actions</th>
        </tr>
      </thead> 
      <tbody id="tbody">
        {% include './table-rows.html' %}
      </tbody>
    </table>
  </div>
</div>
