{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen bg-base-200">
    {% include 'todos/partials/navbar.html' %}

    <div class="flex items-center justify-center min-h-[calc(100vh-4rem)] mt-[3rem] px-4">
        <div class="w-full max-w-md p-8 shadow-lg bg-white rounded-lg mt-4">
            <h2 class="text-3xl font-bold mb-6 text-center text-primary">Login</h2>
            
            <!-- Social Authentication Buttons -->
            <div class="flex flex-wrap justify-center mb-3 gap-x-3 gap-y-3">
                <!-- GitHub -->
                <a href="{% url 'social:begin' 'github' %}" class="w-full sm:w-auto">
                    <button class="btn w-full sm:w-auto bg-black text-white border-black flex items-center justify-center gap-2 py-2 px-4 rounded">
                        <svg aria-label="GitHub logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path fill="white" d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"></path>
                        </svg>
                        <span>Login with GitHub</span>
                    </button>
                </a>

                <!-- Google -->
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="w-full sm:w-auto">
                    <button class="btn w-full sm:w-auto bg-white text-black border border-gray-300 flex items-center justify-center gap-2 py-2 px-4 rounded">
                        <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <g>
                                <path d="m0 0H512V512H0" fill="#fff"></path>
                                <path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path>
                                <path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path>
                                <path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path>
                                <path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path>
                            </g>
                        </svg>
                        <span>Login with Google</span>
                    </button>
                </a>

            </div>


            <form method="POST" class="space-y-4">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="text-red-500 mb-4">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
                    
                <!-- Username -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Username</span>
                    </label>
                    <input type="text" name="username" class="input input-bordered w-full" placeholder="Your username" value="{{ request.POST.username }}">
                    {% if form.errors.username %}
                        <p class="text-error text-sm mt-1">{{ form.errors.username }}</p>
                    {% endif %}
                </div>

                <!-- Password -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" name="password" class="input input-bordered w-full" placeholder="Your password">
                    {% if form.errors.password1 %}
                        <p class="text-error text-sm mt-1">{{ form.errors.password1 }}</p>
                    {% endif %}
                </div>

                <!-- Submit -->
                <div class="form-control mt-6">
                    <button type="submit" class="btn btn-primary w-full">Login</button>
                </div>

                <!-- Link to Register -->
                <div class="text-center mt-4 text-sm">
                    I do not have an account?
                    <a href="{% url 'accounts:signup' %}" class="text-primary hover:underline">Register</a>
                </div>
                <div class="text-center mt-4 text-sm">
                    I forgot my password!
                    <a href="#" class="text-primary hover:underline">Reset</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
